* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.ItemsPage,.toy_page {
    margin-top: 10vh;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-bottom: 20px;
    /* margin-right: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    overflow: hidden;
}


.i_card {
    height: 50vh;
    width: 30vw;
    cursor: pointer;
    /* font-size: 20px;
    font-weight: bolder; */
    /* background-color: rgb(164, 206, 202); */
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.item_top {
    
    width: 30vw;
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    background-color: rgb(226, 246, 255);
    
}
.item_bottom {
    padding-top: 10px;
    width: 30vw;
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    font-size: 20px;
    font-weight: bolder;
    /* background-color: rgb(255, 236, 236) */
   
}

.cart_btn {
    margin-top: 40px;
    height: 5vh;
    width: 30vw;
    /* background-color: rgb(226, 246, 255); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.add_btn {
    width: 8vw;
    height: 5vh;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(255, 159, 0);
    color: azure;
}
.add_btn:hover {
    background-color: rgba(255, 174, 0, 0.877);
}

.buy_btn {
    width: 8vw;
    height: 5vh;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(251, 100, 27);
    color: azure;
}
.buy_btn:hover {
    background-color: rgba(255, 119, 0, 0.848);
}
.brand_name {
    color: rgba(0, 0, 0, 0.726);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.price {
    font-family: 'Times New Roman', Times, serif;
    
    color: rgb(14, 179, 33);
}

.rating {
    font-size: 12px;
    font-weight: normal;
}

.item_img {
    padding-top: 2px;
    padding-bottom: 2px;
    height: 22vh;
    
}

/* title */
.page_title {
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.title_ {
    font-size: 25px;
    font-weight:500;
    font-family: 'Times New Roman', Times, serif;
}
.length_ {
    font-size: 18px;
    font-weight:500;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(144, 144, 144);
}